header{
	width: 100%;
	background: rgba(0,0,0,0.4);
	position: fixed;
	z-index: 99;
	height: 60px;
}
header .head-content{
	width: 1203px;
	height: 60px;
	margin: 0 auto;
}
header .head-content .logo-box .shop-info{
	display: inline-block;
	width: 95px;
	vertical-align: middle;
	color: #FFFFFF;
	text-align: center;
}

header .head-content .menu{
	margin-left: 77px;
	float: left;
}
header .head-content .menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
	/*overflow: hidden;*/
}
header .head-content .menu ul li{
	float: left;
	line-height: 60px;
	margin-right: 37px;
	position: relative;
}
header .head-content .menu ul li a{
	font-size: 20px!important;
	color: #FFFFFF;
	display: block;
	-webkit-transition: 0.4s 0.2s;
	-moz-transition: 0.4s 0.2s;
	-ms-transition: 0.4s 0.2s;
	transition: 0.4s 0.2s;
}
header .head-content .menu ul li:hover a{
	color: #0fadf2;
}
header .head-content .menu ul li a.active{
	color: #0fadf2;
}
header .head-content .menu ul li .second{
	position: absolute;
	left: -20px;
	top: 60px;
	line-height: 35px;
	opacity: 0;
	-webkit-transition: .2s .1s;
	-moz-transition: .2s .1s;
	-ms-transition: .2s .1s;
	transition: .2s .1s;
	background: rgba(0,0,0,0.4);
	width: 90px;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
header .head-content .menu ul li .second .second-link{
	display: block;
}
header .head-content .menu ul li .second .second-link a{
	-webkit-transition: 0.6s 0.2s;
	-moz-transition: 0.6s 0.2s;
	-ms-transition: 0.6s 0.2s;
	transition: 0.6s 0.2s;
	color: #FFFFFF;
}
header .head-content .menu ul li .second .second-link a span{
	margin:0 3px;
	font-size: 16px;
}
header .head-content .menu ul li .second .second-link a:hover{
	-webkit-transform:none;
	color: #0fadf2;
}
header .head-content .menu ul li:hover .second{
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}


a:hover{
	text-decoration: none;
}
header .action-box{
	float: right;
	margin-top: 19px;
}
header .action-box a{
	display: inline-block;
	width: 58px;
	line-height: 22px;
	text-align: center;
	border: 1px solid #FFFFFF;
	border-radius: 15px;
}
header .action-box a.login{
	background: #FFFFFF;
	color: #303030;
	margin-right: 5px;
}
header .action-box a.reg{
	color: #FFFFFF;
}

.footer{
	background: #26252c;
	
}
.footer .content{
	width: 1136px;
	margin: 0 auto;
	
}


.price-bg img{
	display: block;
}
.price-bg .banner{
	width: 793px;
	height: 284px;
	position: absolute;
	left: 50%;
	margin-left: -397px;
	top: 138px;
	opacity: 0;
}


/*banner*/

.content_main{
	background:#eff4f7;
	width: 100%;
}

/*价格表*/
.content_price>img:nth-child(1){
	display: block;
	border-collapse:collapse;
	box-shadow: 2px 2px 4px #ccc;
	margin: 0 auto;
	position: relative;
	top: -175px;
}
.content_price>img:nth-child(2){
	display: block;
	margin: 0 auto;
	position: relative;
	top: -100px;
}
.content_price>img:nth-child(3){
	display: block;
	margin: 0 auto;
	position: relative;
	top: -50px;
	width:90px;
}




.footer .content .footer-info{

	display: inline-block;
	margin-left: 35%;
	padding-top: 10px;
	color: #e4e4e4;

}
.copyright{
	text-align: center;
	color: #e4e4e4;
	background: #16171f;
	padding: 10px 0;
}















